[tool.poetry]
name = "astoria"
version = "0.8.0"
description = "Robot Management System for Student Robotics Kit"
authors = [
    "Dan Trickey <srobo-astoria@trickey.io>",
    "Karina Kwiatek <kkwiatek@studentrobotics.org>",
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/srobo/astoria"
homepage = "https://github.com/srobo/astoria"
documentation = "https://srobo.github.io/astoria"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.6"
pydantic = "^1.6.1"
click = "^7.1.2"
dbus-next = "^0.2.1"
gmqtt = "^0.6.8"
toml = "^0.10.2"
typing-extensions = "^3.7.4"

[tool.poetry.dev-dependencies]
flake8 = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-mutable = "*"
flake8-todo = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "^0.14.0"
rope = "*"
isort = {version = "*",extras = ["pyproject"]}
sphinx = "^3.3.1"
sphinx-rtd-theme = "^0.5.0"
sphinx_autodoc_typehints = "^1.11.1"
sphinx-pydantic = "^0.1.1"
sphinx-jsonschema = "1.15"  # Pinned for sphinx-pydantic
sphinx-autobuild = "^2020.9.1"
sphinx-click = "^2.5.0"
m2r2 = "^0.2.7"
dephell = "^0.8.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
astdiskd = 'astoria.managers.astdiskd:main'
astmetad = 'astoria.managers.astmetad:main'
astprocd = 'astoria.managers.astprocd:main'
astctl = 'astoria.consumers.astctl:main'
astwifid = 'astoria.consumers.astwifid:main'
